.modulo {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: var(--principal);
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#seta_select {
    position: relative;
    right: 1.7rem;
    overflow: auto;
} 

.select2-selection {
    border: none !important;
    background-color: var(--azul-1) !important;
}

#campo_pesquisa_contato {
    height: 1.7rem;
    padding: 0 1rem;
    border-radius: 5px;
    min-width: 100px;
}

#campo_pesquisa_contato img {
    width: 1.2rem;
}

#tabela_contatos {
    border: 1px solid var(--cinza2);
    font-size: 1rem;
}
#tabela_contatos td, #tabela_contatos th {
    border-right: 1px solid var(--cinza2);
    text-align: start;
}

@media (max-width: 980px) {
    .modulo {
        padding: 0.5rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
    #tabela_contatos {
        font-size: 0.8rem;
    }
    #tabela_contatos td, #tabela_contatos th {
        padding: 0.1rem 0.2rem;
    }
}

@media (max-width: 640px) {
    #menu_lateral {
        padding: 0px;
        opacity: 0.85;
        position: fixed;
        min-height: calc(100vh - 66px);
        z-index: 1;
    }
    .principal {
        margin-left: 36px;
        width: calc(100% - 36px);
    }
    .container_tabela {
        overflow-x: auto;
    }
    .tabela {
        min-width: 491px;
    }
}