.modulo {
    z-index: 2;
    padding: 1.25rem;
}
.nav_contato {
    margin-left: 35px;
}

.link_nav {
    background-color: var(--cinza1);
    padding: .2rem 0.9rem;
    border-radius: 5px;
    margin-right: -5px;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
}

a.link_nav_selecionado {
    background-color: var(--principal);
    position: relative;
    z-index: 1;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.15);
}

.header_cadastro {  
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: .625rem 0 1rem .625rem;
}

.h2_titulo {
    margin-bottom: 1rem;
}

.container_codigo_data {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 1rem;
    width: 100%;
}

.p_codigo_contato { 
    background-color: var(--azul-1);
    padding: 0.4rem .5rem;
    border-radius: 5px;
    height: fit-content;
}

.div_data_cadastro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.p_data_cadastro {
    margin: 0 0 .3rem .3rem
}

#data_cadastro {
    background-color: var(--azul-1);
    border: none;
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    width: fit-content;
    letter-spacing: 1.5px;
}

.btn_salvar {
    margin: 0 1rem 0 auto;
}

.modulo_main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(377px, 1fr));
    gap: 16px;
    width: 100%;
    padding: 16px;
}

#container_data_rg {
}

.campo_contato {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 2rem 0;
}

.container_small_width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .5rem;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0;
}

.small_width {
    width: 100%;
    max-width: 250px;
    min-width: 153px;
    flex: 1 1 0;
    margin: 0;
}

.small_width input {
    width: 100%;
}

.normal_width {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}

.radio_contato {
    width: 100%;
    max-width: 250px;
    min-width: 150px;
    flex: 1 1 0;
    margin: 0;
}

.container_radios {
    max-height: 2.5rem;
}

.container_checkbox {
    flex-wrap: wrap;
}

.campo_contato label, .campo_contato p {
    margin: 0 0 .3rem .625rem;
}

.campo_input {
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--cinza3);
    padding: 0.5rem .625rem;
    font-size: 1rem;
}

.container_radios, .container_checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: .625rem 1.2rem;
    border: 1px solid var(--cinza3);
    border-radius: 5px;
}

.container_radio, .campo_checkbox {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.container_radio label, .campo_checkbox label {
    margin: 0;
}

.textarea {
    border: 1px solid var(--cinza3);
    border-radius: 5px;
    padding: .625rem;
    font-size: 1rem;
}

.select_conainer .select2-selection {
    display: flex !important;
    background-color: transparent !important;
    border: 1px solid var(--cinza3) !important;
    height: 2.5rem !important;
    align-items: center !important;
    width: 100% !important;
    max-width: 250px !important;
    min-width: 153px !important;
    flex: 1 1 0 !important;
}
.select_conainer .select2-selection__arrow {
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
}


.modulo_footer {
    display: flex;
    justify-content: end;
}

.btn_nav{
    display: flex;
    align-items: center;
    margin: 0 0 1rem .3rem;
}


@media (max-width: 900px) {
    .modulo {
        padding: 0.5rem;
    }
    .modulo_main {
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .normal_width {
        min-width: 0;
    }
    .modulo_main {
        grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
    }
    .container_small_width {
        min-width: 0;
    }
    .campo_contato {
        margin-bottom: 0.5rem;
    }
    .small_width {
        max-width: 100%;
    }
    .select_conainer {
        max-width: 250px !important;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 14px;
    }
    .nav_contato {
        margin-left: 0.5rem;
    }
    .link_nav {
        padding: .2rem .4rem;
    }
    .modulo_main {
        grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
    }
    .radio_contato {
        max-width: none;
    }
}
