* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
a {
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}

:root {
    --cinza1: #F6F6F6;
    --cinza2: #E8E8E8;
    --azul: #3964A8;
    --azul1: #9CBBED;
    --azul-1: #E9F0FF;
}

body {
    background-color: var(--cinza1);
    font: normal 1rem arial;
}

/* cabeçalho */

header {
    background-color: white;
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.10);
    padding: 15px;
    margin-bottom: 15px;
}
header #container_logo_busca {
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    width: 100%;
    max-width: 710px;
}
header img#logo_sga {
    max-height: 65px;
    margin-right: 20px;
    cursor: pointer;
}

/* campo de busca */
header #campo_busca {
    display: flex;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
    width: 100%;
    max-width: 450px;
    min-width: 335px;
}
header #btn_filtros {
    display: flex;
    flex-shrink: 0;
    flex-basis: content;
    align-items: center;
    background-color: transparent;
    border: none;
    margin: 10px;
    cursor: pointer;
}
header #icone_filtro {
    width: 30px;
}
header #campo_pesquisa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    min-width: 280px;
    height: 45px;
    padding: 14px 10px 14px 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--cinza2);
}
header #campo_pesquisa input {
    background-color: transparent;
    border: none;
    width: calc(100% - 30px);
    height: 100%;
    font: normal 0.9rem arial;
    color: black
}
header #campo_pesquisa input:focus {
    outline: none;
}
header #campo_pesquisa input::placeholder {
    color: #9F9F9F;
}
header #campo_pesquisa img {
    width: 25px;
    cursor:pointer;
}

/* Campo do usuário */
header #campo_usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
header #usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 232px;
    height: 54px;
    padding: 5px 13px;
    gap: 12px;
    background-color: #F3F3F3;
    border-radius: 10px;
    cursor: pointer;
}
header #usuario #logo_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: aqua;
    border-radius: 50%;
    font: bold 18px arial;
}
header #nome-empresa_usuario span#nome_usuario {
    display: block;
    font: bold 14px arial;
}
header #nome-empresa_usuario span#empresa_usuario {
    display: block;
    font: normal 11px arial;
}
header #usuario_seta {
    width: 16px;
}

/* Menu do usuário */

#menu_usuario {
    position: absolute;
    top: 77px;
    margin-left: 26px;
    background-color: white;
    padding: 10px 6px 30px 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
}
#menu_usuario span {
    padding: 5px;
    cursor: pointer;
    transition: .2s;
}
#menu_usuario span:hover {
    background-color: var(--azul-1);
    transition: .2s;
}

/* Botão de sair */

header #btn_sair {
    width: 50px;   
    padding: 5px 0px;
    margin-left: 5px;
    background-color: #fdd1d1;
    border: none;
    border-radius: 8px;
    font: bold 0.85rem arial;
    cursor: pointer;
    transition: .15s;
}
header #btn_sair:hover {
    background-color: rgb(255, 147, 147);
    transition: .15s;
}
header #btn_sair a {
    display: block;
    width: 100%;
    height: 100%;
}

/* Menu lateral */

nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 274px;
    min-height: calc(100vh - 97px);
    background-color: white;
    box-shadow: 2px -1px 6.4px rgba(0, 0, 0, 0.17);
    border-radius: 0 5px 0 0;
}
#container_btn_fechar {
    display: flex;
    align-self: flex-end;
    margin: 5px;
}
nav #btn_fechar_menu {
    width: 36px;
    height: 26px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    background-color: var(--azul-1);
}
nav #btn_fechar_menu:hover {
    background-color: var(--azul1);
}
nav #btn_fechar_menu img {
    width: 24px;
}
nav .item_menu {
    width: 100%;
    max-width: 256px ;
    margin-bottom: 10px;
}
nav .item_menu .btn_menu {
    height: 39px;
}
nav .btn_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    font: normal 1.1rem arial;
}
nav .item_menu .btn_menu:hover {
    background-color: var(--azul-1);
}
nav .btn_menu .seta_cima_baixo {
    margin-right: 6px;
}
nav .btn {
    width: 256px;
    justify-content: start;
    margin-bottom: 10px;
    gap: 10px;
    background-color: var(--azul-1);
}
nav .btn:hover {
    background-color: var(--azul1);
} 
nav .btn_menu div {
    display: flex;
    gap: 10px;
    align-items: center;
}
nav .img_icone_menu {
    width: 21px;
}
nav #btn_configuracoes {
    width: 256px;
    margin: auto 9px 10px 9px;
    justify-content: center;
    gap: 10px;
    font: normal 1.3rem arial;
}
nav #btn_configuracoes:hover {
    background-color: var(--azul-1);
}
nav #btn_configuracoes img {
    width: 30px ;
}

/* Menu dropdonw */

.dropdown {
    margin: 6px auto 6px 28px;
}
.dropdown a {
    display: block;
    padding: 5px 17px;
    border-left: 2px solid var(--cinza2);
}
.dropdown a:hover {
    border-left: 2px solid var(--azul);
    color: #09476b;
}

.seta_cima_baixo {
    width: 13px;
}
.modulo_selecionado {
    background-color: var(--azul1) !important;
}
.seta_cima_baixo {
    transform: rotate(0deg);
    transition: .2s;
}
.modulo_selecionado .seta_cima_baixo {
    transform: rotate(180deg);
    transition: .2s;
}
.item_menu_selecionado {
    border-left: 2px solid var(--azul) !important;
    color: var(--azul) !important;
}

/* Estilos do menu minimizado */    

header #container_logo_busca.mini {
    justify-content: flex-start;
}
nav#menu_lateral.mini {
    max-width: 36px;
}
nav#menu_lateral.mini #btn_fechar_menu {
    padding-left: 6px;
}
nav .btn_menu.mini, #btn_configuracoes.mini {
    justify-content: center;
    width: 26px;
    height: 26px;
}
nav .btn.mini {
    justify-content: center;
    padding: 3px;
}
nav .item_menu.mini {
    display: flex;
    justify-content: center;
}
nav #container_btn_fechar.mini {
    align-self: center;
}
nav .dropdown.mini, .span_modulo.mini, .seta_cima_baixo.mini {
    display: none;
}