.modulo {
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
    background-color: var(--principal);
    border-radius: 5px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}
.container_select {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

#seta_select {
    position: relative;
    right: 1.7rem;
    overflow: auto;
} 

.select2-selection {
    border: none !important;
    background-color: var(--azul-1) !important;
}

.container_campo_pesquisa_btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
    flex: 1 1 411px;
}

.add_person {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 10rem;
    background-color: var(--azul-1);
    padding: .25rem .5rem;
    border-radius: 5px;
}
#campo_pesquisa_contato {
    height: 1.7rem;
    padding: 0 .8rem;
    border-radius: 5px;
    min-width: 160px;
    max-width: 300px;
    flex: 1 1 245px;
}

#campo_pesquisa_contato img {
    width: 1.2rem;
}

#tabela_contatos {
    border: 1px solid var(--cinza2);
    font-size: 1rem;
}
#tabela_contatos td, #tabela_contatos th {
    border-right: 1px solid var(--cinza2);
    text-align: start;
}

@media (max-width: 980px) {
    .modulo {
        padding: 0.5rem;
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
    #tabela_contatos {
        font-size: 0.8rem;
    }
    #tabela_contatos td, #tabela_contatos th {
        padding: 0.1rem 0.2rem;
    }
}

@media (max-width: 640px) {
    #menu_lateral {
        padding: 0px;
        opacity: 0.85;
        position: fixed;
        min-height: calc(100vh - 66px);
        z-index: 1;
    }
    .principal {
        margin-left: 36px;
        width: calc(100% - 36px);
    }
    .container_tabela {
        overflow-x: auto;
    }
    #tabela_contatos {
        min-width: 491px;
    }
}